.tower-group-1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    }
    .tower-group-2 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    }
