* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.App {
  text-align: center;
  margin: 0 auto;
}

.flexy {
  display: flex;
  flex-wrap: wrap;
  width: 100%
}

.poke-square {
  border: 1px solid black;
  min-width: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
}

.

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
