/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 */
.texto-vermelho {
    color: red;
}

/* fieldset {
    padding: 15px;
    margin: 15px;
} */

/* button {
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    background-color: rgba(2,73,2,0.7);
    border: 2px solid rgb(2,73,2);
    padding: 8px;
    border-radius: 6px;
    margin-right: 15px;
}
button:hover {
    background-color: rgb(2,73,2);
} */

/* .resultado {
    display: flex;
    flex-direction: column;
    height: 320px;
    flex-wrap: wrap;
}

.div-filha {
    border: 1px solid black;
}

.titulo-info{
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    padding-bottom: 5px;
}

.desc-info {
    display: block;
    text-align: center;
    padding-bottom: 5px;
}
 */
